---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";

const pageTitle = "About Me";

const identity = {
  firstName: "Shannon",
  country: "United States",
  occupation: "Software Engineer",
  hobbies: ["coding", "birdwatching"],
};

const skills = ["Pretty bullet journal spreads", "Traveling", "Navigating the corporate world", "Photo collections"];
---
<BaseLayout pageTitle={pageTitle}>
    <p class="font-bold">Here are a few facts about me:</p>
  <ul class="list-disc">
    <li>My name is {identity.firstName}.</li>
    <li>I live in {identity.country} and I work as a {identity.occupation}.</li>
    {identity.hobbies.length >= 2 &&
      <li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
    }
  </ul>
<p class="font-bold">My current areas of interest are:</p>
<ul class="list-disc">
  {skills.map((skill) => <li>{skill}</li>)}
</ul>
</BaseLayout>