---
import { Picture } from "astro:assets";
import {navItems} from "./nav_items";
import logo from "../assets/logo.png";
import { Icon } from "astro-icon/components";
interface Props {
  changeColor: boolean;
}
---

<div id="nav" class="group drawer">
    <input id="my-drawer-3" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content flex flex-col">
      <!-- Navbar -->
      <div
        class="navbar z-30 fixed top-0 group-[.nav-is-down]:bg-background-secondary-300 text-black group-[.nav-is-down]: transition-colors duration-500 w-full"
      >
        <div class="flex-none">
          <label
            for="my-drawer-3"
            aria-label="open sidebar"
            class="btn btn-square btn-ghost"
          >
            <Icon name="mdi:playlist-music" class="inline-block h-8 w-8" />
          </label>
        </div>
        <div
          class="mx-2 flex-1 px-2 font-header text-xl font-semibold text-black group-[.nav-is-down]:text-accent-pink"
        >
          Shannon's Blog
        </div>
        <div class="hidden flex-none">
          <ul class="menu menu-horizontal">
            <!-- Navbar menu content here -->
            {
              navItems.map((item) => (
                <li class="font-display">
                  <a href={item.link}>{item.title}</a>
                </li>
              ))
            }
          </ul>
        </div>
      </div>
      <div class="h-20"></div>
      <!-- Page content here -->
      <slot />
    </div>
    <div class="drawer-side z-40">
      <label for="my-drawer-3" aria-label="close sidebar" class="drawer-overlay"
      ></label>
      <ul class="menu bg-background-secondary-200 min-h-full w-80 p-4">
        <!-- Sidebar content here -->
        {
          navItems.map((item) => (
            <li class="font-display">
              <a href={item.link}>{item.title}</a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
  <script>
    function update_nav_is_down() {
      var navhldr = document.getElementById("nav");
      if (!navhldr) {
        console.error("no nav :(");
        return;
      }
      var top = 50;
  
      if (window.scrollY >= top) {
        navhldr.classList.add("nav-is-down");
      } else {
        navhldr.classList.remove("nav-is-down");
      }
    }
    addEventListener("scroll", (event) => {
      update_nav_is_down();
    });
  
    // update on script load so it's not in incorrect state
    update_nav_is_down();
  </script>
  